
body {
  padding-top: 75px;
  height: 100vh;
}

.controls {
  position: absolute;
  color: #EFECEC;
  background: #232323;
  top: 0;
  left: 0;
  right: 0;
  height: 70px;
  padding: 0 20px;
}

.controls > * {
  line-height: 50px;
  margin: 10px 20px;
}

.code-container {
  padding: 0px !important;
}
/*
.preview {
  position: absolute;
  left: 300px;
  right: 0;
  bottom: 0;
  top: 50vh;
*/

@import "../node_modules/codemirror/lib/codemirror.css";
@import "../node_modules/codemirror/theme/monokai.css";
